<!DOCTYPE html>
<html >
<head>
	<title>js-game</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap_theme.min.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body onload="draw()">
	<style>
		canvas {border: 3px solid green; margin:auto;}
	</style>

	<canvas id="drawHere" width="600" height="600">
	</canvas>
	<p id="ws">
		
	</p>
	
	<!-- <button>
		Testing
	</button> -->

	<script src="/javascript/canvasEx.js"></script>
	<script src="/javascript/app.js"></script>
</body>
</html>
