<!DOCTYPE html>
<html >
<head>
	<title>js-game</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap_theme.min.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
	<style>
		table, ol, div { margin: 3em auto;}
		td { padding: 1px; text-align: center;}
		/*canvas {border: 3px solid green; margin:auto;}*/
	</style>

	<!-- <canvas id="drawHere" width="600" height="600">
</canvas> -->
<table>
	<tbody id="wsBox">
	</tbody>
</table>


<ol>
	<h4>Primary, Composite, and Special Data Types in JavaScript</h4>
	<li>This primary data type is a chain of zero or more Unicode characters (letters, digits, and punctuation marks).</li>
	<li>This primary data type has values that are also known as integers and can be positive, negative, or contain a decimal portion.</li>
	<li>This primary data type specifies whether a condition is true or false.</li>
	<li>This special data type has only one value in JavaScript.</li>
	<li>The value of this special data type is returned when you use an object property that does not exist, or a variable that has been declared, but has never had a value assigned to it.</li>
	<li>This is a composite or reference data type that can have multiple/custom properties and methods.</li>
</ol>

<script src="/javascript/wsEx.js"></script>
<script src="/javascript/canvasEx.js"></script>
<script src="/javascript/app.js"></script>
</body>
</html>
